header {
	background-color: skyblue;
}

nav {
	background-color: beige;
}

main {
	background-color: bisque;
}

article {
	background-color: yellow;
}

aside {
	background-color: greenyellow;
}

footer {
	background-color: orange;
}