<% include parts/_header %>
<body>
  <h1 id="title">これはejsのサンプルです</h1>
  <p><%= message %></p>
  <h2>これはサブタイトルですかね</h2>
  <h3>h3です</h3>
  <ul>
    <li>リスト1</li>
    <li>リスト2</li>
    <li>リスト3</li>
    <li>リスト4</li>
    <li>リスト5</li>
  </ul>
  <p>本自治はお日柄もよくて</p>
<% include parts/_footer %>
</body>
</html>
