@charset "UTF-8";

//半分のサイズを設定
@mixin half($width, $height) {
  height: ($height/2) + px;
  width: ($width/2) + px;
}

@mixin full {
  height: 100%;
  width: 100%;
}

@mixin square($size:10) {
  height: $size + px;
  width: $size + px;
}
