@charset "UTF-8";

//===================================
// color
//===================================
$color-default: #333;
$color-main: #611af6;
$color-link: #a32a81;
$color-white: #fff;

//===================================
// font
//===================================
$font-family-jp: "Hiragino Kaku Gothic ProN", "YuGothic", "游ゴシック", "メイリオ", Meiryo, Roboto, Osaka, sans-serif;
$font-family-en: "Avenir Next", Helvetica, Arial, sans-serif;

$font-size-default: 1.4rem;
$font-size-exsmall: .9rem;
$font-size-small: 1.2rem;
$font-size-large: 1.8rem;
$font-size-exlarge: 3rem;

$line-height-default: 1.8;

//=================================================
// pass
//=================================================
$img-path: "/asset/img/";
