<% var page = 'top' %><% include parts/_header %>
<body>
  <div id="wrap" class="wrap">
    <h1>オレオレテンプレート</h1>
    <h2>version 0.0.2</h2>
    <p>2016/3/31 まだ直したいところあるけどとりあえずアップ</p>
    <div class="sprite"></div>
    <% include parts/_footer %>
  </div>
<% include parts/_scripts %>
