<% var page = 'top' %><% include parts/_head %>
  <div id="wrap" class="wrap">
    <% include parts/_header %>
    <h1>My website template</h1>
    <h2>version 0.0.3</h2>
    <p>2016/4/11 update</p>
    <div class="sprite"></div>
    <% include parts/_footer %>
  </div>
<% include parts/_scripts %>
